dn: uid=root,ou=People,dc=borg-ibk,dc=local
cn: root
sn: root
objectClass: top
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
objectClass: sambaSamAccount
objectClass: posixAccount
objectClass: shadowAccount
gidNumber: 0
uid: root
uidNumber: 0
homeDirectory: /home/root
sambaLogonTime: 0
sambaLogoffTime: 2147483647
sambaKickoffTime: 2147483647
sambaPwdCanChange: 0
sambaPwdMustChange: 2147483647
sambaHomePath: \\%L\root
sambaHomeDrive: H:
sambaProfilePath: \\%L\profiles\root
sambaPrimaryGroupSID: S-1-5-21-2336030208-1547323707-3435355501-512
sambaAcctFlags: [U          ]
sambaSID: S-1-5-21-2336030208-1547323707-3435355501-500
gecos: Netbios Domain Administrator
structuralObjectClass: inetOrgPerson
sambaLMPassword: 94C8B50DE5E016E11AA818381E4E281B
sambaNTPassword: ADA99B7A2091AD9F2ADBD69EA4F52D7E
sambaPwdLastSet: 1156245926
userPassword:: e1NTSEF9RGg1a1JKQ21aRGNsRHVPMlBZTUVmV3hPL1hKVFdqTnM=
loginShell: /bin/bash

