[General] 
FullMachineName= {{ host_name }}.{{ domain_name }} 
SuiteSpotUserID= {{ dir_server_user }}
SuiteSpotGroup=  {{ dir_server_group }}
AdminDomain= {{ domain_name }}
ConfigDirectoryAdminID= admin 
ConfigDirectoryAdminPwd= {{ admin_password }} 
ConfigDirectoryLdapURL= ldap://{{ host_name }}.{{ domain_name }}:389/o=NetscapeRoot 

[slapd] 
ServerPort= 389 
ServerIdentifier= dir 
Suffix= {{ ldap_base_dn }} 
RootDN= cn=Directory Manager 
RootDNPwd= {{ admin_password }}        
AddSampleEntries=  	Yes 
AddOrgEntries=     	Yes 
InstallLdifFile=        No
SlapdConfigForMC= Yes 
UseExistingMC= 0 

[admin] 
SysUser= {{ dir_server_user }}
Port= 9830
ServerAdminID= admin 
ServerAdminPwd= {{ admin_password }}
