dn: ou=systemaccounts,dc=borg-ibk,dc=local
objectClass: top
objectClass: organizationalUnit
ou: systemaccounts
description:: YWNjb3VudHMgZsO8ciBzYW1iYSAtU3lzdGVtdmVyd2FsdHVuZw==
structuralObjectClass: organizationalUnit
entryUUID: d7dc3fa2-c6c3-102a-84a2-f5e60c76cdac
creatorsName: cn=Manager,dc=borg-ibk,dc=local
modifiersName: cn=Manager,dc=borg-ibk,dc=local
createTimestamp: 20060823072213Z
modifyTimestamp: 20060823072213Z
entryCSN: 20060823072213Z#000000#00#000000

dn: cn=samba,ou=systemaccounts,dc=borg-ibk,dc=local
objectClass: organizationalRole
objectClass: top
objectClass: simpleSecurityObject
cn: samba
structuralObjectClass: organizationalRole
entryUUID: e5616fec-c6c5-102a-90cd-e113f6392369
creatorsName: cn=Manager,dc=borg-ibk,dc=local
createTimestamp: 20060823073655Z
userPassword:: e1NTSEF9clJ1TzloVHpRbVgvRHJkSlduSmc3R0dmc1AxeUVZM2k=
entryCSN: 20060823074342Z#000000#00#000000
modifiersName: cn=Manager,dc=borg-ibk,dc=local
modifyTimestamp: 20060823074342Z

dn: cn=nssldap,ou=systemaccounts,dc=borg-ibk,dc=local
objectClass: organizationalRole
objectClass: top
objectClass: simpleSecurityObject
cn: nssldap
structuralObjectClass: organizationalRole
entryUUID: 33115bb2-c6c6-102a-9bf0-5fbf0c216287
creatorsName: cn=Manager,dc=borg-ibk,dc=local
createTimestamp: 20060823073905Z
userPassword:: e1NTSEF9NkpmdlJoRXRLZ1MxTkpxNHFSbTdnQllqbmtKVTNqdTI=
entryCSN: 20060823074429Z#000000#00#000000
modifiersName: cn=Manager,dc=borg-ibk,dc=local
modifyTimestamp: 20060823074429Z

dn: cn=smbldap-tools,ou=systemaccounts,dc=borg-ibk,dc=local
objectClass: organizationalRole
objectClass: top
objectClass: simpleSecurityObject
cn: smbldap-tools
structuralObjectClass: organizationalRole
entryUUID: 361248ee-c6c6-102a-9b78-7db12f5511bf
creatorsName: cn=Manager,dc=borg-ibk,dc=local
createTimestamp: 20060823073910Z
userPassword:: e1NTSEF9NThNRS9KdnZYMFpVVitDSElxQjB0UTN6QVFBSGwvQ2Q=
entryCSN: 20060823074453Z#000000#00#000000
modifiersName: cn=Manager,dc=borg-ibk,dc=local
modifyTimestamp: 20060823074453Z

