#### original

dn: uid=root,ou=People,dc=borg-ibk,dc=local
cn: root
sn: root
objectClass: top
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
objectClass: sambaSamAccount
objectClass: posixAccount
objectClass: shadowAccount
gidNumber: 0
uid: root
uidNumber: 0
homeDirectory: /home/root
sambaLogonTime: 0
sambaLogoffTime: 2147483647
sambaKickoffTime: 2147483647
sambaPwdCanChange: 0
sambaPwdMustChange: 2147483647
sambaHomePath: \\%L\root
sambaHomeDrive: H:
sambaProfilePath: \\%L\profiles\root
sambaPrimaryGroupSID: S-1-5-21-2336030208-1547323707-3435355501-512
sambaAcctFlags: [U          ]
sambaSID: S-1-5-21-2336030208-1547323707-3435355501-500
gecos: Netbios Domain Administrator
structuralObjectClass: inetOrgPerson
entryUUID: bd3fc996-c61b-102a-9e2c-3335111769d0
creatorsName: cn=Manager,dc=borg-ibk,dc=local
createTimestamp: 20060822111853Z
sambaLMPassword: 94C8B50DE5E016E11AA818381E4E281B
sambaNTPassword: ADA99B7A2091AD9F2ADBD69EA4F52D7E
sambaPwdLastSet: 1156245926
userPassword:: e1NTSEF9RGg1a1JKQ21aRGNsRHVPMlBZTUVmV3hPL1hKVFdqTnM=
loginShell: /bin/bash
entryCSN: 20090824131133Z#000000#00#000000
modifiersName: cn=Manager,dc=borg-ibk,dc=local
modifyTimestamp: 20090824131133Z

dn: uid=nobody,ou=People,dc=borg-ibk,dc=local
cn: nobody
sn: nobody
objectClass: top
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
objectClass: sambaSamAccount
objectClass: posixAccount
objectClass: shadowAccount
gidNumber: 514
uid: nobody
uidNumber: 999
homeDirectory: /dev/null
sambaPwdLastSet: 0
sambaLogonTime: 0
sambaLogoffTime: 2147483647
sambaKickoffTime: 2147483647
sambaPwdCanChange: 0
sambaPwdMustChange: 2147483647
sambaHomePath: \\%L\nobody
sambaHomeDrive: H:
sambaProfilePath: \\%L\profiles\nobody
sambaPrimaryGroupSID: S-1-5-21-2336030208-1547323707-3435355501-514
sambaLMPassword: NO PASSWORDXXXXXXXXXXXXXXXXXXXXX
sambaNTPassword: NO PASSWORDXXXXXXXXXXXXXXXXXXXXX
sambaAcctFlags: [NUD        ]
sambaSID: S-1-5-21-2336030208-1547323707-3435355501-2998
loginShell: /bin/false
structuralObjectClass: inetOrgPerson
entryUUID: bd83b200-c61b-102a-9e2d-3335111769d0
creatorsName: cn=Manager,dc=borg-ibk,dc=local
createTimestamp: 20060822111854Z
entryCSN: 20060822111854Z#000000#00#000000
modifiersName: cn=Manager,dc=borg-ibk,dc=local
modifyTimestamp: 20060822111854Z


####
#### idealx Anleitung

dn: uid=Administrator,ou=Users,dc=idealx,dc=org
cn: Administrator
sn: Administrator
objectClass: inetOrgPerson
objectClass: sambaSAMAccount
objectClass: posixAccount
objectClass: shadowAccount
gidNumber: 512
uid: Administrator
uidNumber: 0
homeDirectory: /home/%U
sambaPwdLastSet: 0
sambaLogonTime: 0
sambaLogoffTime: 2147483647
sambaKickoffTime: 2147483647
sambaPwdCanChange: 0
sambaPwdMustChange: 2147483647
sambaHomePath: \\PDC-SMB3\home\%U
sambaHomeDrive: H:
sambaProfilePath: \\PDC-SMB3\profiles\%U\Administrator
sambaPrimaryGroupSID: S-1-5-21-4231626423-2410014848-2360679739-512
sambaLMPassword: XXX
sambaNTPassword: XXX
sambaAcctFlags: [U          ]
sambaSID: S-1-5-21-4231626423-2410014848-2360679739-2996
loginShell: /bin/false
gecos: Netbios Domain Administrator

dn: uid=nobody,ou=Users,dc=idealx,dc=org
cn: nobody
sn: nobody
objectClass: inetOrgPerson
objectClass: sambaSAMAccount
objectClass: posixAccount
objectClass: shadowAccount
gidNumber: 514
uid: nobody
uidNumber: 999
homeDirectory: /dev/null
sambaPwdLastSet: 0
sambaLogonTime: 0
sambaLogoffTime: 2147483647
sambaKickoffTime: 2147483647
sambaPwdCanChange: 0
sambaPwdMustChange: 2147483647
sambaHomePath: \\PDC-SMB3\home\%U
sambaHomeDrive: H:
sambaProfilePath: \\PDC-SMB3\profiles\%U\nobody
sambaPrimaryGroupSID: S-1-5-21-4231626423-2410014848-2360679739-514
sambaLMPassword: NO PASSWORDXXXXXXXXXXXXXXXXXXXXX
sambaNTPassword: NO PASSWORDXXXXXXXXXXXXXXXXXXXXX
sambaAcctFlags: [NU         ]
sambaSID: S-1-5-21-4231626423-2410014848-2360679739-2998
loginShell: /bin/false


#dn: cn=Users,ou=Groups,dc=idealx,dc=org
#objectClass: posixGroup
#objectClass: sambaGroupMapping
#gidNumber: 545
#cn: Users
#description: Netbios Domain Ordinary users
#sambaSID: S-1-5-21-4231626423-2410014848-2360679739-545
#sambaGroupType: 2
#displayName: users

#dn: cn=Guests,ou=Groups,dc=idealx,dc=org
#objectClass: posixGroup
#objectClass: sambaGroupMapping
#gidNumber: 546
#cn: Guests
#memberUid: nobody
#description: Netbios Domain Users granted guest access to the computer/sambaDomainName
#sambaSID: S-1-5-21-4231626423-2410014848-2360679739-546
#sambaGroupType: 2
#displayName: Guests

#dn: cn=Power Users,ou=Groups,dc=idealx,dc=org
#objectClass: posixGroup
#objectClass: sambaGroupMapping
#gidNumber: 547
#cn: Power Users
#description: Netbios Domain Members can share directories and printers
#sambaSID: S-1-5-21-4231626423-2410014848-2360679739-547
#sambaGroupType: 2
#displayName: Power Users


#dn: cn=Server Operators,ou=Groups,dc=idealx,dc=org
#objectClass: posixGroup
#objectClass: sambaGroupMapping
#gidNumber: 549
#cn: Server Operators
#description: Netbios Domain Server Operators
#sambaSID: S-1-5-21-4231626423-2410014848-2360679739-549
#sambaGroupType: 2
#displayName: Server Operators
