# 
# Define default options for Monitor - Clone - Mode
#
# SLEEP_TIME Waiting Time in Script
#            /usr/bin/clone
#            
#
# UBUNTU 12.04		SLEEP_TIME=3 
# UBUNTU 14.04		SLEEP_TIME=5
SLEEP_TIME="{{ sleep_time_before_cloning }}"
#
# RESOLUTION for Monitor - Clone - Mode
# 0x0 for Autodetection of Maximum Resolution
#
RESOLUTION="{{ defaultresolution }}"
#RESOLUTION=0x0
#
#
# RATE Frequency for Monitor - Clone - Mode
# 0 for Autodedection
#
RATE=0  

