NAME="{{ network_interface }}"
BOOTPROTO=none
DEVICE="{{ network_interface }}"
{% if dns_nameservers is defined %}
{%   for ns in dns_nameservers %}
DNS{{ loop.index }}={{ ns }}
{%   endfor %}
{% endif %}
{%   if ip_gateway is defined %}
GATEWAY={{ ip_gateway }}
{%   endif %}
{%   if ip_address is defined %}
IPADDR={{ ip_address }}
{%   endif %}
{%   if ip_netmask is defined %}
NETMASK={{ ip_netmask }}
{%   endif %}
ONBOOT=yes
DOMAIN={{ dns_search }}
NM_CONTROLLED=no
IPV6INIT=no

