#!/bin/bash
# Wait for nautilus-desktop
#

gio set $HOME/Schreibtisch/connect2home.desktop "metadata::trusted" true
gio set $HOME/Schreibtisch/connect2home.desktop "metadata::nautilus-icon-position" '{{ iconposition_x }},100'
