[Desktop Entry]
Version=1.0
Name={{ fach_langbezeichnung }} Audio-Server
Comment={{ fach_langbezeichnung }} Audioserver
Exec=nautilus /netzordner/{{ fach }}-audio
Type=Application
Icon=/usr/share/icons/gnome/48x48/mimetypes/audio-x-generic.png
Categories=GTK;GNOME;Application;Utility;

