[Desktop Entry]
Version=1.0
Name={{ fach_langbezeichnung }} Materialien
Comment={{ fach_langbezeichnung }} Materialien
Exec=nautilus /netzordner/{{ fach }}-material
Type=Application
Icon=/usr/share/icons/gnome/48x48/mimetypes/x-package-repository.png
Categories=GTK;GNOME;Application;Utility;

