[Desktop Entry]
Version=1.0
Name={{ fach_langbezeichnung }} Materialien
Comment={{ fach_langbezeichnung }} Materialien
Exec=nautilus /netzordner/{{ fach }}-material
Type=Application
Icon=/usr/share/icons/unity-icon-theme/places/svg/group-videos.svg
Categories=GTK;GNOME;Application;Utility;

