[Desktop Entry]
Version=1.0
Name={{ fach_langbezeichnung}} Videoserver
Comment={{ fach_langbezeichnung}} Videoserver
Exec=nautilus /netzordner/{{ fach }}-video
Type=Application
Icon=/usr/share/icons/gnome/48x48/mimetypes/video.png
Categories=GTK;GNOME;Application;Utility;

