[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name[de_AT]=Mediathek
Exec={{ mediathekview_startscript }}
Name=Mediathek
Icon=/usr/share/icons/hicolor/scalable/apps/gtkpod.svg
Categories=GTK;AudioVideo;Video;
