[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name[de_AT]=Mediathek
Exec={{ dir_list.files[0].path }}/MediathekView.sh
Name=Mediathek
Icon=/usr/share/icons/hicolor/scalable/apps/gtkpod.svg
Categories=GTK;AudioVideo;Video;
