group {

##  unattended installation

host {{ hostname_client }} {
  hardware ethernet {{ macaddress_client }};
  next-server {{ tftpserver_address }};
  filename  "/os/centos/7/pxelinux.0" ;
  option host-name "{{ hostname_client }}" ;

}
}

