[Desktop Entry]
Version=1.0
Name=zu den Unterrichtsmaterialien
Comment=zu den Unterrichtsmaterialien
Exec=nautilus -n smb://BORG-IBK.LOCAL;borg-user@samba/material/
Type=Application
Icon=/usr/share/icons/unity-icon-theme/places/svg/group-folders.svg
Categories=GTK;GNOME;Application;Utility;

