group {

##  unattended installation

host {{ hostname_client }} {
  hardware ethernet {{ macaddress_client }};
  next-server {{ tftpserver_address }};
  {% if release == "16.04" %}
  {% if architecture == "x86_64" %}
  filename "/Ubuntu_16.04.x64/pxelinux.0"; 
  {% endif %}
  {% if architecture ==  "i386" %}
  filename "/Ubuntu_16.04.i386/pxelinux.0"; 
  {% endif %}
  {% endif %}
  {% if release == "14.04" %}
  {% if architecture ==  "x86_64" %}
  filename "/Ubuntu_14.04.x64/pxelinux.0"; 
  {% endif %}
  {% if architecture ==  "i386" %}
  filename "/Ubuntu_14.04.i386/pxelinux.0"; 
  {% endif %}
  {% endif %}
  option host-name "{{ hostname_client }}" ;

}
}

