[com/canonical/unity]
{% if always_show_menus %}
always-show-menus=true
{% else %}
always-show-menus=false
{% endif %}

### <schema path="/com/canonical/unity/" id="com.canonical.Unity" gettext-domain="unity">
