DEVICE={{ ansible_interfaces[1] }}
BOOTPROTO=none
ONBOOT=yes
{% if ip_address is defined %}
IPADDR={{ ip_address }}
{% endif %}
{% if ip_netmask is defined %}
NETMASK={{ ip_netmask }}
{% endif %}
{% if ip_gateway is defined %}
GATEWAY={{ ip_gateway }}
{% endif %}
{% if ip_dns_nameservers is defined %}
{% for dns_nameserver in ip_dns_nameservers %}
DNS{{ loop.index }}={{ dns_nameserver }}
{% endfor %}
{% endif %}

