nsupdate -k Kborg-ibk.local.+157+17744.private <<EOF
{% if action == "add" %}
update add {{ hostname }}.borg-ibk.local 86400 A {{ ipaddress }}
{% endif %}
{% if action == "delete" %}
update delete {{ hostname }}.borg-ibk.local A 
{% endif %}
send
quit
EOF

